/* Estilos para el contenedor del toggle */
.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  /* Estilos para el contenedor del toggle */
  .relative {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #e2e2e2; /* bg-gray-200 */
    border-radius: 9999px; /* rounded-full */
    width: 300px; /* Ancho del toggle */
    border: 1px solid lightgray; /* Sin borde adicional */
    max-width: 100%;
  }
  
  /* Estilos para los botones del toggle */
  .cursor-pointer {
    cursor: pointer;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 9999px; /* rounded-full */
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; /* Cada botón ocupa el 50% del ancho */
    z-index: 1; /* Asegura que el texto esté encima del fondo animado */
  }
  
  /* Estilos para el fondo animado */
  .bg-white {
    background-color: white;
  }
  
  .text-green-500 {
    color: #4dbf15; /* Verde */
  }
  
  .text-gray-500 {
    color: #6b7280; /* Gris */
  }
  
  .toggle-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%; /* Ocupa la mitad del toggle */
    background-color: white;
    border-radius: 9999px; /* rounded-full */
    transition: transform 0.3s ease-in-out;
    z-index: 0; /* Coloca el fondo debajo del texto */
  }
  
  .move-right {
    transform: translateX(100%);
  }
  
  .move-left {
    transform: translateX(0);
  }