.casebook-container {
  text-align: center;
  margin-top: 50px;
  max-width: 80% !important;
}

@media (max-width: 767px) {
  .casebook-container {
    max-width: 95% !important;
  }
}

.casebook-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #686868;
  margin-bottom: 30px;
}

.casebook-buttons {
  display: flex;
  justify-content: center;
}

.casebook-button-download {
  color: #3d0784 !important;
  background-color: #3d078433 !important;
  border: 1px solid #ddd !important;
  border-radius: 15px;
  font-size: 1rem !important;
  margin-bottom: 30px;
  display: flex !important;
}

.casebook-button-download::before {
  z-index: -1;
  background-color: white !important;
}

.casebook-button-download:hover {
  transition: 0.2s ease-in-out !important;
  font-weight: bold;
  color: #fff !important;
  background-color: #3d078470 !important;
}

.casebook-button-fullscreen {
  color: #ff421d !important;
  background-color: #ff421d33 !important;
  border: 1px solid #ddd !important;
  border-radius: 15px;
  font-size: 1rem !important;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex !important;
}

.casebook-button-fullscreen::before {
  z-index: -1;
  background-color: white !important;
}

.casebook-button-fullscreen:hover {
  transition: 0.2s ease-in-out !important;
  font-weight: bold;
  color: #fff !important;
  background-color: #ff421d70 !important;
}

.pdf-preview {
  border: 1px solid #ddd;
  border-radius: 16px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

/* Espaciado entre el ícono y el texto */
.icon-spacing {
  margin-left: 8px;
}

@media (max-width: 991px) {
  .pdf-preview {
    display: none;
  }
}