/* NavbarPlanMate.css */
.navbar-collapse {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background: white;
  overflow: hidden;
  transition: right 0.5s;
  z-index: 1040;
  padding-top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra pequeña */
}

.custom-start-48 {
  left: 48%;
}

.navbar-collapse.open {
  right: 0; /* Cuando está abierta, se muestra en pantalla */
}

.navbar-toggler {
  border: none !important;
  background: transparent !important;
  color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  padding-top: 8px !important;
  padding-bottom: 11px !important;
  margin: 0;
  cursor: pointer;
  z-index: 1031 !important;
  position: relative;
}

.navbar-toggler-icon {
  position: relative;
  display: inline-block;
  border-radius: 2px !important;
  width: 30px;
  height: 3px !important;
  background-color: #555 !important;
  transition: background-color 2s ease-out;
  z-index: 1033 !important;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  border-radius: 2px !important;
  width: 30px;
  height: 3px;
  background-color: #555;
  transition: transform 0.4s ease-out, top 0.4s ease-out, bottom 0.4s ease-out;
}

.navbar-toggler-icon::before {
  left: 0px;
  top: -8px;
}

.navbar-toggler-icon::after {
  left: 0px;
  bottom: -8px;
}

/* Estilo para cuando el menú está abierto (X) */
.navbar-toggler-icon.open {
  background-color: transparent;
  height: 0 !important;
}

.navbar-toggler-icon.open::before {
  top: -1.5px;
  transform: rotate(45deg); /* Gira la primera línea */
  background-color: #000 !important;
}

.navbar-toggler-icon.open::after {
  bottom: -1.5px;
  transform: rotate(-45deg); /* Gira la segunda línea */
  background-color: #000 !important;
}

/* Elimina cualquier fondo o sombra que pueda haber */
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none;
}

.navbar-collapse .nav-link,
.navbar-collapse .navbar-brand,
.navbar-collapse .form-control,
.navbar-collapse .btn {
  margin: 10px 20px;
  color: #808080; /* Color gris para el texto */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajuste de opacidad */
  backdrop-filter: blur(2px);
  z-index: 1030;
  transition: opacity 0.3s;
}

.shadow-navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la navbar */
}

.navbar {
  height: 76px; /* Ajusta este valor según sea necesario para la altura uniforme */
}

body {
  padding-top: 76px; /* Ajusta el padding-top según la altura de la navbar */
  margin: 0;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: none !important; /* Oculta la navbar vertical en pantallas grandes */
    position: static;
    width: auto;
    height: auto;
    background: none;
    overflow: visible;
    transition: none;
    z-index: auto;
    padding: 0;
    box-shadow: none; /* Sin sombra en modo horizontal */
    margin-right: 10%;
  }

  .navbar-collapse.open {
    right: auto;
  }

  .overlay {
    display: none;
  }

  .navbar-toggler {
    display: none; /* Oculta el botón en pantallas grandes */
  }

  .navbar-nav {
    flex-direction: row; /* Alinea los elementos horizontalmente */
  }

  .navbar-nav .nav-link,
  .navbar-nav .navbar-brand,
  .navbar-nav .form-control,
  .navbar-nav .btn {
    margin: 0 10px;
    color: #808080; /* Color gris para el texto */
  }

  .navbar-collapse .me-auto {
    margin-right: auto; /* Asegura que los enlaces estén a la izquierda */
  }

  .navbar-collapse .d-flex {
    margin-left: auto; /* Asegura que el formulario de búsqueda esté a la derecha */
  }

  .shadow-navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra a la navbar horizontal */
  }

  .navbar-brand {
    margin-left: 10%;
  }
}

/* Reducción del margen entre la barra de búsqueda y el botón */
.form-inline .form-control {
  margin-right: 5px; /* Ajusta este valor según sea necesario */
}

.form-inline .btn-custom {
  margin-left: 0; /* Elimina el margen izquierdo del botón */
}

.nav-link {
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  max-height: 42px; /* Ajusta la altura máxima de la imagen */
  width: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
}
