/* Estilos del componente de noticias */

.news-container {
  max-width: 1100px !important;
  margin: 0 auto !important;
}

.news-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #686868;
  text-align: left; /* Alineación a la izquierda */
}

.news-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  /* margin-bottom: 15px !important; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 470px !important; /* Asegura que la tarjeta tenga una altura mínima */
}

.news-card .card-body {
  flex-grow: 1; /* Permite que el cuerpo de la tarjeta crezca para llenar el espacio */
}

.news-image {
  width: 100% !important;
  height: 200px !important; /* Altura fija para todas las imágenes */
  object-fit: cover !important; /* Mantiene la proporción de la imagen */
  border-radius: 10px 10px 0 0;
  /* filter: grayscale(100%); */
}

.news-type {
  display: inline-block;
  padding: 2px 15px;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-right: 10px;
  opacity: 0.8;
  width: fit-content;
}

.news-item-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: left !important;
}

.news-item-subtitle {
  font-size: 1rem;
  color: #888;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-item-author {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #888;
}

.news-item-time {
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 15px;
}

.btn-news {
  border: none !important;
  background-color: #bbbbbb30 !important;
  color: #555 !important;
  font-weight: 500 !important;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  width: 100px; /* Ancho fijo para todos los botones */
  text-align: center; /* Centra el texto dentro del botón */
  overflow: hidden; /* Asegura que el contenido no se salga */
}

.btn-news:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #888 !important;
  color: white !important;
}

/* Para cuando el tipo de noticia está seleccionado */
.news-type-selected {
  border: 2px solid;
  opacity: 1 !important;
  color: white !important;
}

/* Para cuando el tipo de noticia no está seleccionado */
.news-type-unselected {
  opacity: 0.8;
}

.news-type-unselected:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

/* Estilo del texto de instrucción */
.text-instruction {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.news-grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)) !important;
}