.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.page-item {
  display: inline;
}

.page-link {
  background-color: #cccccc70 !important;
  color: #666 !important;
  border: none !important;
  padding: 10px 15px !important;
  border-radius: 5px !important;
  transition: background-color 0.3s ease-in-out !important;
  cursor: pointer !important;
  outline: none !important;
}

.page-item.active .page-link {
  background-color: #55555570 !important;
  color: white !important;
}

.page-link:hover {
  background-color: #444444 !important;
  color: #fff !important;
}
