/* Projects.css */

.projects-container {
  /* max-width: 100%; */
  text-align: center;
  color: #686868;
}

.project-card {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
  border-radius: 24px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10vh;
  padding: 35px 25px;
}

.project-image-container {
  display: flex;
  justify-content: center;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
  border: 1px solid #ccc;
}

.project-content {
  color: #4a4a4a; /* Color gris oscuro para el texto */
  padding-left: 30px !important;
}

.project-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.project-subtitle {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #555;
  text-align: left;
}

.project-text {
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 1.5;
  text-align: left;
}

.project-link {
  color: #aaa;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  text-align: left !important;
  display: block;
  font-weight: bold;
}

.project-link:hover {
  color: #0056b3;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 575px) {
  .projects-container {
    max-width: 95% !important;
  }

  .project-content {
    max-width: 95%;
  }

  .project-card {
    margin-bottom: 5vh;
  }

  .project-title {
    margin-top: 20px;
  }
}

/* SocialConsulting.css */

.cs-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #686868; /* Color más oscuro para destacar el título */
}

.cs-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
  border: 1px solid #ccc;
  padding: 0 !important;
  margin-bottom: 50px;
}

.cs-text {
  font-size: 1rem;
  color: #4a4a4a; /* Texto ligeramente más oscuro */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .cs-container {
    max-width: 95%;
  }

  .cs-image {
    display: none;
  }
}