.stage-flow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 100px;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  min-width: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  width: auto;
  max-width: 500px;
}

.stage:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stage-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.stage-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.stage-title {
  font-size: 1.2em;
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.stage-description-container {
  background-color: #f9f9f9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.stage-description-container.open {
  max-height: 400px;
  padding: 10px;
}

.stage-description {
  font-size: 0.9em;
  margin: 5px 0;
}

.stage-arrow {
  width: 50px;
  height: 50px;
  border: 25px solid transparent;
  border-top-color: #ff421da0;
  border-radius: 50%;
  margin-top: 25px;
  transition: transform 0.3s ease;
}

.stage-toggle-button {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 2.5em;
  transition: background-color 0.2s ease-in-out, transform 0.3s ease;
  flex-shrink: 0;
}

.stage-toggle-button:hover {
  background-color: #e0e0e0;
}

.stage-toggle-button.open {
  transform: rotate(180deg);
}

.stage-toggle-button.closed {
  transform: rotate(0deg);
}

@media (max-width: 767px) {
  .stage {
    max-width: 90%;
  }
}
