/* Contenedor principal */
.timeline-container {
    padding-bottom: 40px;
    max-width: 1200px;
    margin: auto;
}

/* Encabezado de la línea de tiempo */
.timeline-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.timeline-title {
    font-size: 2rem;
    font-weight: bold;
    color: gray;
}

.timeline-subtitle {
    font-size: 1.2rem;
    color: gray;
}

/* Línea de tiempo */
.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 6px;
    background-color: #a0a0a0;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 3px;
    padding-top: 5%;
}

/* Eventos de la línea de tiempo */
.timeline-event {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.timeline-event:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline-date {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.timeline-event:nth-child(even) .timeline-date {
    margin-right: 0;
}

.date-box {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
}

.date-day {
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
}

.date-month {
    font-size: 1rem;
    text-transform: uppercase;
}

/* Diálogo de eventos */
.timeline-dialog {
    display: flex;
    height: 120px;
    width: 45% !important;
    z-index: 1;
}

.timeline-event:nth-child(even) .timeline-dialog {
    justify-content: flex-end;
}

.timeline-dialog-trigger {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
    flex-wrap: nowrap;
    position: relative; /* Para el posicionamiento del botón */
}

.timeline-dialog-trigger:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.timeline-dialog-preview {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 15px;
}

.timeline-event-thumbnail {
    max-width: 120px !important;
    max-height: 80px !important;
    object-fit: cover !important;
    margin-left: 15px;
    margin-right: 15px;
}

.timeline-event-info {
    flex-grow: 1;
}

.timeline-event-title {
    font-size: 1.4rem;
    margin: 0;
}

.timeline-event-subtitle {
    font-size: 1rem;
    color: gray;
    margin: 0;
}

/* Contenido del diálogo */
.timeline-dialog-content {
    max-width: 500px;
    margin: auto;
}

.timeline-dialog-content-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 24px;
}

.timeline-dialog-body {
    padding: 20px;
}

.timeline-dialog-title-content {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.timeline-dialog-subtitle-content {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 15px;
}

.timeline-dialog-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.timeline-dialog-link {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}

.timeline-dialog-close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}

.timeline-dialog-close-button:hover {
    background-color: #e0e0e0;
}

/* Botones */
.btn-inscripcion {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.btn-inscripcion:hover {
    background-color: #00edbf;
}

.btn-container {
    display: flex;
    justify-content: center;
    height: 100% !important;
    width: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn-icon {
    background-color: #333;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    text-decoration: none;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 60px;
}

.btn-icon:hover {
    background-color: #00edbf;
}

.btn-text {
    display: none;
    margin-bottom: 5px;
}

.btn-icon svg {
    font-size: 1.5rem;
}

/* Estilos responsivos */
@media (max-width: 991px) {
    .timeline {
        padding: 20px 0;
    }

    .timeline-line {
        left: 10%;
        transform: translateX(0);
    }

    .timeline-event {
        margin: 0 0 70px 0 !important;
        flex-direction: row;
        justify-content: space-between !important;
        width: 100%;
        flex-wrap: nowrap !important;
    }

    .timeline-date {
        position: relative;
        left: 10%;
        width: 80px;
    }

    .timeline-dialog {
        position: absolute;
        left: 20%;
        width: 80% !important;
        margin-left: 0;
    }

    .timeline-event:nth-child(even) {
        flex-direction: row;
    }

    .timeline-event-thumbnail {
        max-width: 90px !important;
        max-height: 65px !important;
        object-fit: cover !important;
        margin-right: 15px;
    }
}

@media (min-width: 600px) {
    .btn-text {
        display: inline;
    }

    .timeline-dialog-preview {
        margin: 0 !important;
    }
}

@media (max-width: 600px) {
    .timeline-dialog {
        height: auto;
    }

    .timeline-dialog-trigger {
        flex-direction: column;
        justify-content: space-between !important;
    }

    .timeline-dialog-preview {
        margin: 15px;
    }

    .btn-container {
        position: relative;
        bottom: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        align-items: center;
    }

    .btn-icon {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .btn-text {
        display: inline;
        margin: 0;
        margin-right: 10px;
    }
}

/* Estilos para pantallas pequeñas aplicados a NextEvents */
.next-events .timeline {
    padding: 20px 0;
}

.next-events .timeline-line {
    left: 10%;
    transform: translateX(0);
}

.next-events .timeline-event {
    margin: 0 0 70px 0 !important;
    flex-direction: row;
    justify-content: space-between !important;
    width: 100%;
    flex-wrap: nowrap !important;
}

.next-events .timeline-date {
    position: relative;
    left: 10%;
    width: 80px;
}

.next-events .timeline-dialog {
    position: absolute;
    left: 20%;
    width: 80% !important;
    margin-left: 0;
}

.next-events .timeline-event-thumbnail {
    max-width: 90px !important;
    max-height: 65px !important;
    object-fit: cover !important;
    margin-right: 15px;
}